{% extends 'base.html.twig' %}

{% block title %}Scholen index{% endblock %}

{% block body %}
<div class="container">
    <h1>Scholen index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Omschrijving</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for scholen in scholens %}
            <tr>
                <td>{{ scholen.id }}</td>
                <td>{{ scholen.omschrijving }}</td>
                <td>
                    <a href="{{ path('scholen_show', {'id': scholen.id}) }}">show</a>
                    <a href="{{ path('scholen_edit', {'id': scholen.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('scholen_new') }}">Create new</a>
</div>
{% endblock %}
