{% extends 'base.html.twig' %}

{% block title %}Spelers index{% endblock %}

{% block body %}
<div class="container">
    <h1>Spelers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Voornaam</th>
                <th>Tussenvoegsel</th>
                <th>Achternaam</th>
                <th>School</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
        {% for speler in spelers %}
            <tr>
                <td>{{ speler.id }}</td>
                <td>{{ speler.voornaam }}</td>
                <td>{{ speler.tussenvoegsel }}</td>
                <td>{{ speler.achternaam }}</td>
                <td>{{ speler.school }}</td>
                <td>
                    <a href="{{ path('spelers_show', {'id': speler.id}) }}">Bekijken</a>
                    <a href="{{ path('spelers_edit', {'id': speler.id}) }}">Bewerken</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('spelers_new') }}">Speler Aanmaken</a>
</div>
{% endblock %}
